{% extends "base.html" %}

{% block 'content' %}
{% load static %}
<title>Liste des Ventes</title>

    <style>
       
        h2 {
            color: #00D9A5;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        .add-btn {
            background-color: #27ae60;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 20px;
            text-align: center;
            display: inline-block;
        }

        .update-btn {
            background-color: #3498db;
            color: white;
            padding: 5px 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #00D9A5;
            color: white;
        }

        tbody tr:hover {
            background-color: #00D9A5;
        }
    </style>
</head>
<body>
    <h2>Liste des Ventes</h2>
    <a href="{% url 'vendre_produit' %}" class="add-btn">Vendre un produit</a>
    <p>Par ici pour la <a href="{% url 'affiche_produits' %}" class="update-btn">liste des produits</a></p>

    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Prix de Vente</th>
                <th>Bénéfice</th>
                <th>Date de Vente</th>
            </tr>
        </thead>
        <tbody>
            {% for vente in ventes %}
                <tr>
                    <td>{{ vente.produit.designation }}</td>
                    <td>{{ vente.quantite }}</td>
                    <td>{{ vente.prix_unitaire }} FCFA</td>
                    <td>{{ vente.prix_de_vente }} FCFA</td>
                    <td>{{ vente.calculer_benefice }} FCFA</td>
                    <td>{{ vente.date_vente }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock 'content' %}

